/**
File Name: education.css(Style sheet for Service Page)
Student Name: Mistura Raheem
Student ID: 301163500
Date: 27-01-2023
**/

#sersection{
    height: 100px;
    width: 250px;
    margin: 0 auto;
    padding: 150px;
    text-align: center;
   }
 
   #sersection a:hover{
    color: blue;
   }
 